.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a {
    margin: 8px;
    text-decoration: none;
    color: blue;
    
}
a:hover {
    text-decoration: underline;
}